.book{
    color: white;
    background-color: var(--color-five);
    cursor: pointer;
    
}

.book__name{
    border-left: 4px solid transparent;

}

.book:hover > .book__name{
    border-left: 4px solid var(--color-four);
}

.book:hover > td {
    background-color: var(--color-six);
}

.deleteBook__btn{
    margin: auto;
    color: var(--color-two);
    border:2px solid black;
    padding: 5px 10px;
    background-color: rgb(191, 202, 218);
 
    font-weight: 800;

}

.hold__delete{
    text-align: center;
}